@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/garet');

/* outros arquivos css importados */
@import url("sessoes/header.css");

/* variáveis css para reutilizar em todos os arquivos (incluindo os importados acima) */
:root {
  --cor-fundo: #FBFBFB;
  --cor-texto: #013D29;

  --patinha-perdida: #C83802;
  --patinha-encontrada: #00A878;
  --patinha-achada: #3377FF;

  --azul-escuro: #2649B3;
  --branco: #FFFFFF;
  --amarelo: #FFD600;

  --garet: "Garet", sans-serif;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--garet);
    height: 100%;
    margin: 0 auto;
    max-width: 1280px;
}

a {
    text-decoration: none;
    color: var(--cor-texto);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
div.Login {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.Login a{
    padding: 10px 20px;
    font-size: 15px;
    margin-left: auto; 
    display: flex; 
    align-items: center; 
}

main {
    display: flex;
    justify-content: space-between;
    height: 80%;
}

div.main-esq h1{
    color: var(--cor-texto);
}

div.main-esq h1 .Pet{
    color: #2649B3;
}